<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ocad.Import.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Ocad.Import.Osm.Setting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Ocad.Import.Settings>
      <setting name="EpsilonDistanceMM" serializeAs="String">
        <value>0.22</value>
      </setting>
      <setting name="RemoveDuplicateBridges_BridgeSymbolNumber" serializeAs="String">
        <value>518.0</value>
      </setting>
      <setting name="RemoveDuplicateBridges_MinDistanceBetweenNonFacingBridgeEdgeMM" serializeAs="String">
        <value>1.75</value>
      </setting>
      <setting name="RemoveDuplicateBridges_MinDistanceBetweenFacingBridgeEdgeMM" serializeAs="String">
        <value>0.35</value>
      </setting>
      <setting name="RemoveDuplicateBridges_AngleEpsilonFullCirclePercentage" serializeAs="String">
        <value>25</value>
      </setting>
    </Ocad.Import.Settings>
    <Ocad.Import.Osm.Setting>
      <setting name="Conversion" serializeAs="Xml">
        <value>
          <Conversion>
            <OcadSymbolSet AreaSymbolNumber="301.0" LineSymbolNumber="301.1">
              <OsmTag Key="waterway" Value="riverbank"/>
              <OsmTag Key="waterway" Value="dock"/>
              <OsmTag Key="waterway" Value="feature"/>
              <OsmTag Key="waterway" Value="res"/>
              <OsmTag Key="waterway" Value="reservoir"/>
              <OsmTag Key="natural" Value="water"/>
              <OsmTag Key="leisure" Value="fishing"/>
              <OsmTag Key="leisure" Value="marina"/>
              <OsmTag Key="landuse" Value="reservoir"/>
              <OsmTag Key="landuse" Value="basin"/>
              <OsmTag Key="water" Value="pond"/>
              <OsmTag Key="natural" Value="pond"/>
              <OsmTag Key="leisure" Value="paddling_pool"/>
              <OsmTag Key="landuse" Value="pond"/>
              <OsmTag Key="amenity" Value="fountain"/>
            </OcadSymbolSet>
            <OcadSymbolSet LineSymbolNumber="304.0">
              <OsmTag Key="waterway" Value="river"/>
              <OsmTag Key="waterway" Value="canal"/>
              <OsmTag Key="waterway" Value="derelict_canal"/>
              <OsmTag Key="waterway" Value="disused_canal"/>
            </OcadSymbolSet>
            <OcadSymbolSet LineSymbolNumber="306.0">
              <OsmTag Key="waterway" Value="stream"/>
              <OsmTag Key="waterway" Value="drain"/>
              <OsmTag Key="waterway" Value="ditch"/>
              <OsmTag Key="waterway" Value="slipway"/>
            </OcadSymbolSet>
            <OcadSymbolSet AreaSymbolNumber="401.0">
              <OsmTag Key="leisure" Value="pitch"/>
              <OsmTag Key="leisure" Value="playground"/>
              <OsmTag Key="leisure" Value="recreation_ground"/>
              <OsmTag Key="leisure" Value="village_green"/>
              <OsmTag Key="leisure" Value="sports_field"/>
              <OsmTag Key="landuse" Value="grass"/>
              <OsmTag Key="landuse" Value="recreation_ground"/>
              <OsmTag Key="landuse" Value="village_green"/>
              <OsmTag Key="landuse" Value="picnic_area"/>
              <OsmTag Key="landuse" Value="pitch"/>
              <OsmTag Key="amenity" Value="park"/>
            </OcadSymbolSet>
            <OcadSymbolSet AreaSymbolNumber="403.0">
              <OsmTag Key="natural" Value="scrub"/>
              <OsmTag Key="natural" Value="scrubland"/>
              <OsmTag Key="natural" Value="heath"/>
              <OsmTag Key="natural" Value="grassland"/>
              <OsmTag Key="leisure" Value="park"/>
              <OsmTag Key="leisure" Value="common"/>
              <OsmTag Key="landuse" Value="meadow"/>
            </OcadSymbolSet>
            <OcadSymbolSet AreaSymbolNumber="408.0">
              <OsmTag Key="natural" Value="wood"/>
              <OsmTag Key="natural" Value="woodland"/>
              <OsmTag Key="natural" Value="tree"/>
              <OsmTag Key="natural" Value="tree_row"/>
              <OsmTag Key="natural" Value="trees"/>
              <OsmTag Key="wood" Value="mixed"/>
              <OsmTag Key="wood" Value="deciduous"/>
              <OsmTag Key="wood" Value="coniferous"/>
              <OsmTag Key="landuse" Value="forest"/>
              <OsmTag Key="landuse" Value="orchard"/>
            </OcadSymbolSet>
            <OcadSymbolSet LineSymbolNumber="501.0">
              <OsmTag Key="highway" Value="motorway"/>
            </OcadSymbolSet>
            <OcadSymbolSet LineSymbolNumber="502.0">
              <OsmTag Key="highway" Value="trunk"/>
              <OsmTag Key="highway" Value="primary"/>
              <OsmTag Key="highway" Value="motorway_link"/>
              <OsmTag Key="highway" Value="trunk_link"/>
              <OsmTag Key="highway" Value="primary_link"/>
            </OcadSymbolSet>
            <OcadSymbolSet LineSymbolNumber="503.0">
              <OsmTag Key="highway" Value="secondary"/>
              <OsmTag Key="highway" Value="tertiary"/>
              <OsmTag Key="highway" Value="secondary_link"/>
              <OsmTag Key="highway" Value="tertiary_link"/>
            </OcadSymbolSet>
            <OcadSymbolSet LineSymbolNumber="504.0">
              <OsmTag Key="highway" Value="unclassified"/>
              <OsmTag Key="highway" Value="residential"/>
              <OsmTag Key="highway" Value="service"/>
              <OsmTag Key="highway" Value="services"/>
              <OsmTag Key="highway" Value="living_street"/>
              <OsmTag Key="highway" Value="raceway"/>
              <OsmTag Key="highway" Value="road"/>
              <OsmTag Key="highway" Value="lane"/>
              <OsmTag Key="highway" Value="FIXME"/>
              <OsmTag Key="man_made" Value="jetty"/>
              <OsmTag Key="man_made" Value="pier"/>
            </OcadSymbolSet>
            <OcadSymbolSet LineSymbolNumber="505.0">
              <OsmTag Key="highway" Value="track"/>
              <OsmTag Key="highway" Value="unsurfaced"/>
              <OsmTag Key="highway" Value="byway"/>
            </OcadSymbolSet>
            <OcadSymbolSet LineSymbolNumber="507.0">
              <OsmTag Key="highway" Value="pedestrian"/>
              <OsmTag Key="highway" Value="footway"/>
              <OsmTag Key="highway" Value="cycleway"/>
              <OsmTag Key="highway" Value="bridleway"/>
              <OsmTag Key="highway" Value="steps"/>
              <OsmTag Key="highway" Value="path"/>
              <OsmTag Key="leisure" Value="track"/>
            </OcadSymbolSet>
            <OcadSymbolSet LineSymbolNumber="515.0">
              <OsmTag Key="highway" Value="bus_guideway"/>
              <OsmTag Key="railway" Value="rail"/>
              <OsmTag Key="railway" Value="tram"/>
              <OsmTag Key="railway" Value="disused"/>
              <OsmTag Key="railway" Value="preserved"/>
              <OsmTag Key="railway" Value="narrow_gauge"/>
              <OsmTag Key="railway" Value="miniature"/>
              <OsmTag Key="railway" Value="construction"/>
              <OsmTag Key="railway" Value="historic"/>
            </OcadSymbolSet>
            <OcadSymbolSet AreaSymbolNumber="529.0">
              <OsmTag Key="highway" Value="platform"/>
              <OsmTag Key="leisure" Value="skate_park"/>
              <OsmTag Key="aeroway" Value="apron"/>
              <OsmTag Key="aeroway" Value="runway"/>
              <OsmTag Key="aeroway" Value="taxiway"/>
              <OsmTag Key="landuse" Value="traffic_island"/>
              <OsmTag Key="amenity" Value="parking"/>
              <OsmTag Key="highway" Value="turning_circle"/>
              <OsmTag Key="highway" Value="layby"/>
            </OcadSymbolSet>
            <OcadSymbolSet LineSymbolNumber="518.0">
              <OsmTag Key="bridge"/>
              <OsmTag Key="tunnel"/>
            </OcadSymbolSet>
          </Conversion>
        </value>
      </setting>
      <setting name="BridgeTagKey" serializeAs="String">
        <value>bridge</value>
      </setting>
      <setting name="TunnelTagKey" serializeAs="String">
        <value>tunnel</value>
      </setting>
      <setting name="AdditionalRealWorldMetreWidthOfBridge" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MinimumRealWorldMetreWidthOfBridge" serializeAs="String">
        <value>20</value>
      </setting>
    </Ocad.Import.Osm.Setting>
  </applicationSettings>
  <startup>    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
